.block-welcome {
    // padding-top: 144px;
    // padding-bottom: 144px;
    // height: 100vh;
    // height: 100svh;
    // min-height: 768px;
    // max-height: 1080px;
    position: relative;
    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container {
        z-index: 2;
        padding-top: 144px;
        padding-bottom: 144px;
        height: 100vh;
        height: 100svh;
        min-height: 768px;
        max-height: 1080px;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 650px;
    }
    .logo {
        align-self: center;
        img {
            max-width: 320px;
        }
    }
    .block-title {
        margin-top: 40px;
    }
    .subtitle {
        margin-top: 24px;
        font-size: 40px;
        line-height: 1;
    }
    .btn {
        margin-top: 24px;
    }
}

.block-text-cards-grid {
    padding-top: 64px;
    padding-bottom: 48px;
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
    }
    .card-item {
        min-height: 176px;
        padding: 32px 24px;
        border-radius: 32px;
        background: rgba($theme-color, .3);
        &-title {
            font-family: $title-font;
            font-size: 32px;
            font-weight: 500;
            color: $theme-color;
        }
        &-descr {
            margin-top: 16px;
        }
    }
}

.block-text-video-bg {
    .container {
        min-height: 600px;
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .container {
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
        justify-content: center;
    }
    .banner-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .text {
        position: relative;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        margin-right: 104px;
    }
    .logo {
        align-self: center;
        img {
            max-width: 320px;
        }
    }
    .descr {
        margin-top: 24px;
        p {
            &:not(:last-child) {
                margin-bottom: 22px;
            }
        }
    }
    .btns {
        margin-top: 40px;
        display: flex;
    }
    .btn {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
    .video {
        position: relative;
        max-width: 424px;
        overflow: hidden;
        border-radius: 32px;
        box-shadow: 8px 8px 32px 0px rgba(0, 0, 0, 0.25);
        align-self: center;
        video {
            // display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.block-contact-us {
    padding-top: 136px;
    padding-bottom: 76px;
    .container {
        display: flex;
    }
    .banner-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .text-col {
        max-width: 642px;
        padding-top: 148px;
        position: relative;
        margin-right: 90px;
    }
    .subtitle {
        margin-top: 40px;
        font-family: $title-font;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .contacts {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            display: flex;
            align-items: center;
            line-height: 1.375;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        .icon {
            color: $theme-color;
        }
    }
    .form-col {
        width: 100%;
        max-width: 536px;
        background-color: rgba($theme-color, .3);
        border-radius: 16px;
        padding: 72px 88px 56px;
        position: relative;
        &-title {
            line-height: 1.375;
        }

    }

    form {
        display: block;
        margin-top: 32px;
    }

    .input-wrapper {
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }

    .btn {
        margin-top: 56px;
    }
}

.block-product-welcome {
    padding-top: 256px;
    padding-bottom: 296px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        img {
            max-width: 320px;
        }
    }
    .block-title {
        margin-top: 40px;
    }
    .descr {
        margin-top: 24px;
        line-height: 1.375;
        max-width: 610px;
        text-align: center;
    }
}

.block-product {
    .container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-gap: 10px;
    }

    .bottle-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottle {
        position: relative;
        img {
            max-height: 614px;
        }
        &-annotation {
            position: absolute;
            display: flex;
            align-items: center;
            &:nth-child(2) {
                top: 67px;
                // right: 100%;
                right: calc(100% - 20px);
            }
            &:nth-child(3) {
                top: 29px;
                // left: 100%;
                left: calc(100% - 46px);
            }
            &:nth-child(4) {
                top: 307px;
                // right: 100%;
                right: calc(100% - 20px);
            }
            &:nth-child(5) {
                top: 393px;
                // left: 100%;
                left: calc(100% - 30px);
            }
            svg {
                width: 16px;
                height: 24px;
                color: $theme-color;
                &:nth-child(1) {
                    margin-right: 8px;
                }
                &:nth-child(2) {
                    margin-left: 8px;
                }
            }
        }
    }

    .slider-col {
        overflow: hidden;
        border-radius: 32px;
        background-color: rgba($theme-color, .2);
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 144px;
            z-index: 1;
            pointer-events: none;
        }
        &::before {
            top: 0;
            background: linear-gradient(180deg, #ACC2BA 0%, rgba(172, 194, 186, 0.00) 100%);
        }
        &::after {
            bottom: 0;
            background: linear-gradient(0deg, #ACC2BA 0%, rgba(172, 194, 186, 0.00) 100%);
        }
    }

    .swiper {
        &-container {
            z-index: 2;
            height: 700px;
            overflow: hidden;
        }
        &-slide {
            padding-left: 90px;
            padding-right: 40px;
        }
        &-controls {
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            display: flex;
            flex-direction: column;
        }
        &-button {
            &-next {
                margin-top: 16px;
            }
        }
    }

    .product {
        display: grid;
        grid-template-columns: minmax(0, 23fr) minmax(0, 28fr);
        place-items: center;
        height: 100%;
        &-photo {
            display: flex;
            justify-content: center;
            img {
                max-width: 100%;
                max-height: 414px;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &-volume {
            font-family: $title-font;
            font-size: 48px;
            font-weight: 700;
            color: $theme-color;
        }
        &-type {
            margin-top: 8px;
            color: $theme-color;
        }
        &-descr {
            margin-top: 16px;
        }
    }

}

.block-advantages-grid {
    padding-top: 95px;
    padding-bottom: 76px;

    .advantages {
        margin: 0 auto;
        width: 100%;
        max-width: 875px;
        display: grid;
        grid-template-columns: 438fr 378fr;
        padding: 24px;
        border-radius: 32px;
        border: 1px solid rgba($theme-color, .3);
    }
    .advantage-item {
        display: flex;
        flex-direction: column;
        &:nth-child(1) {
            padding-bottom: 24px;
        }
        &:nth-child(2) {
            padding-top: 24px;
            padding-right: 24px;
            grid-row: 2;
            border-top: 1px solid rgba($theme-color, .3);
        }
        &:nth-child(3) {
            padding-left: 24px;
            grid-row-start: 1;
            grid-row-end: span 2;
            border-left: 1px solid rgba($theme-color, .3);
            justify-content: center;

        }

        &-title {
            margin-top: 40px;
            font-family: $title-font;
            font-size: 32px;
            font-weight: 500;
            color: $theme-color;
        }
        &-descr {
            margin-top: 16px;
        }
    }
}

.block-video-bg {
    position: relative;
    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: rgba(26, 26, 26, 0.33);
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 100vh;
        height: 100svh;
        min-height: 768px;
        max-height: 1080px;
        padding-top: 200px;
        padding-bottom: 200px;
        z-index: 2;
        color: #fff;
    }
    .block-title {
        color: #fff;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    }
    .subtitle {
        font-size: 40px;
        max-width: 536px;
    }
}

.block-text-summary-bg {
    padding-top: 88px;
    padding-bottom: 88px;
    position: relative;
    &:last-child {
        margin-bottom: 44px;
    }

    .banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }
    }
    .summary {
        width: 100%;
        border-radius: 32px;
        background-color: rgba(#fff, .8);
        display: flex;
        padding: 76px;
        justify-content: space-between;
        &-figure {
            transform: rotate(-19.924deg);
        }
        &-text {
            max-width: 595px;
            flex-shrink: 0;
        }
        &-title {
            // font-family: $title-font;
            font-size: 40px;
            font-weight: 700;
            color: $theme-color;
        }
        &-descr {
            margin-top: 24px;
            line-height: 1.5;
            max-width: 536px;
        }
    }
}