.footer {
    padding-top: 20px;
    padding-bottom: 24px;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        row-gap: 40px;
        column-gap: 56px;
        @include responsive {
            column-gap: 40px;
            grid-template-columns: repeat(3, 1fr);
        }
        @include tablet {
            grid-template-columns: 1fr 1fr;
            row-gap: 32px;
            column-gap: 32px;
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    .menu-group {
        max-width: 514px;
        @include responsive {
            max-width: initial;
        }

        &:is(.contacts, .policies, .reports, .socials) {
            max-width: 286px;
            @include responsive {
                max-width: initial;
            }
        }
        &.contacts {
            grid-column: 1;
            @include tablet {
                grid-column: initial;
            }
        }
        &.policies {
            grid-column: 2;
            @include tablet {
                grid-column: initial;
            }
        }
        &.reports {
            grid-column: 1;
            @include tablet {
                grid-column: initial;
            }
        }
        &.socials {
            grid-column: 2;
            @include tablet {
                grid-column: initial;
            }
        }
        &.subscribe {
            grid-column: 3;
            grid-row-start: 1;
            grid-row-end: span 2;
            @include tablet {
                grid-column: span 2;
                grid-row: initial;
            }
            @include mobile {
                grid-column: initial;
                grid-row: 1;
            }
        }

        &-title {
            font-family: $title-font;
            font-size: 24px;
            font-weight: 700;
            color: $theme-color;
            text-transform: uppercase;
            @include mobile {
                font-size: 20px;
            }
        }
        &-content {
            margin-top: 8px;
        }
    }

    ul {
        list-style: none;
    }
    li {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        a {
            position: relative;
            @media (hover: hover) {
                &:hover {
                    &::before {
                        transform: scaleX(100%);
                    }
                }
            }
            &::before {
                content: '';
                transform: scaleX(0);
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                border-bottom: 1px solid currentColor;
                transition: $duration;
                transform-origin: left center;
            }
        }
    }
    span {
        font-weight: 700;
    }
    address {
        font-style: normal;
        display: inline;
    }
    p {
        line-height: 1.375;
    }
    .social-links {
        display: flex;
        a {
            color: $theme-color;
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .subscribe-form {
        margin-top: 58px;
        display: flex;
        position: relative;
        max-width: 336px;
        @include tablet {
            max-width: 100%;
        }
        @include mobile {
            margin-top: 32px;
        }
        input {
            width: 100%;
            padding-right: 120px;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}