.modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, .3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    &-body {
        position: relative;
        display: flex;
        z-index: 2;
    }
    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

}

#cookieNotice {
    padding: 32px;
    @include mobile {
        padding: 12px;
    }
    .modal-body {
        align-self: flex-end;
        max-width: 1024px;
        background-color: #fff;
        border-radius: 12px;
    }
    .modal-close {
        position: absolute;
        right: 0;
        top: -32px;
    }
    .modal-content {
        padding: 32px;
        flex-direction: row;
        align-items: center;
        @include mobile {
            padding: 12px;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    p {
        line-height: 1.5;
    }
    a {
        color: $theme-color;
        position: relative;
        @media (hover: hover) {
            &:hover {
                &::before {
                    transform: scaleX(100%);
                }
            }
        }
        &::before {
            content: '';
            transform: scaleX(0);
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            border-bottom: 1px solid currentColor;
            transition: $duration;
            transform-origin: left center;
        }
    }

    .btn {
        margin-left: 24px;
        @include mobile {
            margin-left: 0;
            margin-top: 24px;
        }
    }
}